<!DOCTYPE html>
<head>
    <title>RISC-V ISA Simulator</title>
    <link rel = "stylesheet" href = "main.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <basefont color="white">
    <div class = "mempane">
        <div class = "memmenu">
            <div class = "field" style = "width:70%; cursor:pointer;" onclick = "hideMemory();">Registers</div>
            <select>
                <option>HEX</option>
                <option>DEC</option>
                <option>ASCII</option>
            </select>
        </div>
    </div>
    <div class = "menubar">
        <div class = "menu-items">
            <div class = "btn">Run</div>
            <div class = "btn">Step</div>
            <div class = "btn">Prev</div>
            <div class = "btn">Reset</div>
            <div class = "btn">Dump</div>
            
        </div>
    </div>
    <div class = "screen">
        <div class = "page">
            <textarea id = "2" onkeydown="insertTab(this, event);" onkeyup = "showHelp();" spellcheck="false"># Your code goes here</textarea>
        </div>
        <div class = "page">
            <div class = "code">
                <table class = "instructions">
                    <tr class = "heading">
                        <th>Original Code</th><th>Basic Code</th><th>Machine Code</th>
                    </tr>
                </table>
            </div>
            <div class = "memory">
                <div class = "memcontent">
                    PC: <div class = "field">0x0000000</div><br><br>
                    x0&nbsp;&nbsp;: <div class = "field">0x0000000</div><br>
                    x1&nbsp;&nbsp;: <div class = "field">0x0000000</div><br>
                    x2&nbsp;&nbsp;: <div class = "field">0x0000000</div><br>
                    x3&nbsp;&nbsp;: <div class = "field">0x0000000</div><br>
                    x4&nbsp;&nbsp;: <div class = "field">0x0000000</div><br>
                    x5&nbsp;&nbsp;: <div class = "field">0x0000000</div><br>
                    x6&nbsp;&nbsp;: <div class = "field">0x0000000</div><br>
                    x7&nbsp;&nbsp;: <div class = "field">0x0000000</div><br>
                    x8&nbsp;&nbsp;: <div class = "field">0x0000000</div><br>
                    x9&nbsp;&nbsp;: <div class = "field">0x0000000</div><br>
                    x10: <div class = "field">0x0000000</div><br>
                    x11: <div class = "field">0x0000000</div><br>
                    x12: <div class = "field">0x0000000</div><br>
                    x13: <div class = "field">0x0000000</div><br>
                    x14: <div class = "field">0x0000000</div><br>
                    x15: <div class = "field">0x0000000</div><br>
                    x16: <div class = "field">0x0000000</div><br>
                    x17: <div class = "field">0x0000000</div><br>
                    x18: <div class = "field">0x0000000</div><br>
                    x19: <div class = "field">0x0000000</div><br>
                    x20: <div class = "field">0x0000000</div><br>
                    x21: <div class = "field">0x0000000</div><br>
                    x22: <div class = "field">0x0000000</div><br>
                    x23: <div class = "field">0x0000000</div><br>
                    x24: <div class = "field">0x0000000</div><br>
                    x25: <div class = "field">0x0000000</div><br>
                    x26: <div class = "field">0x0000000</div><br>
                    x27: <div class = "field">0x0000000</div><br>
                </div>
                <div class = "memmenu">
                    <div class = "field" style = "width:70%; cursor:pointer;" onclick = "showMemory();">Main Memory</div>
                    <select>
                        <option>HEX</option>
                        <option>DEC</option>
                        <option>ASCII</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class = "navbar">
        <img src = "logo.png" style = "margin-left:20px" height = "50px">
        <div class = "helper">
            <div class = "command" id = "command">
                
            </div>
        </div>
        <div class = "navbutton" onclick="showSim();"><p>Simulate<p></span>
    </div>

    <script>
        function showMemory(){
            a = document.getElementsByClassName("mempane")[0];
            a.style.marginRight = "0px";
        }
        function hideMemory(){
            a = document.getElementsByClassName("mempane")[0];
            a.style.marginRight = "-25vw";
        }
        
        function requestMC(){
            var data = new FormData();
            a = document.getElementsByTagName("textarea")[0];
            data.append("code",a.value);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:5000/api/machine-code/", false);
            xhr.send(data);
            resp = JSON.parse(xhr.response)
            console.log(resp);
            if(resp['error']){
                alert(resp['errormsg']);
                return false;
            }else{
                el = document.getElementsByClassName("instructions")[0];
                el.innerHTML = `
                    <tr class = "heading">
                        <th>Original Code</th><th>Basic Code</th><th>Machine Code</th>
                    </tr>
                `;
                for (var i = 0; i<resp['original'].length; i=i+1){
                    if(i==0){
                        el.innerHTML = el.innerHTML + `
                        <tr class = "active">
                            <td>`+resp['original'][i]+`</td><td>`+resp['basic'][i]+`</td><td>`+resp['machine'][i]+`</td>
                        </tr>
                        `;
                    }else{
                        el.innerHTML = el.innerHTML + `
                        <tr>
                            <td>`+resp['original'][i]+`</td><td>`+resp['basic'][i]+`</td><td>`+resp['machine'][i]+`</td>
                        </tr>
                        `;
                    }
                }
                el.innerHTML = el.innerHTML + "<tr><td><br></td></tr><tr><td><br></td></tr><tr><td><br></td></tr>";
                return true;
            }
        }

        start = 1;
        function showSim(){
            if(start == 1){
                err = requestMC();
                if(!err) return 1;
            }
            hideMemory();
            b = document.getElementsByClassName("navbutton")[0];
            if(start==1){
                b.innerHTML = "<p>Edit</p>";
                c = document.getElementsByClassName("menubar")[0];
                c.style.marginBottom = "0px";
            }else{
                b.innerHTML = "<p>Simulate</p>";
                c = document.getElementsByClassName("menubar")[0];
                c.style.marginBottom = "-100px";
            }
            b = document.getElementById("command");
            b.innerHTML = "";
            a = document.getElementsByClassName("screen")[0];
            a.style.marginLeft = "-"+(50+start*50)+"vw";
            start *= -1;
        }
        function showHelp(){
            a = document.getElementById("2");
            b = document.getElementById("command");
            str = a.value;
            com = str.split("\n");
            com = com[com.length - 1];
            com = com.trim();
            com = com.split(" ")[0];
            if(com == "addi"){
                b.innerHTML = "<font color = \"#5ea9ff\">addi</font> <font color = \"#abd2ff\">rd rs1</font> <font color = \"#ffc15e\">imm</font> -> [rd] = [rs1] + imm";
            }else if(com == "add"){
                b.innerHTML = "<font color = \"#5ea9ff\">add</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] + [rs2]";
            }else if(com == "and"){
                b.innerHTML = "<font color = \"#5ea9ff\">and</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] & [rs2]";
            }else if(com == "or"){
                b.innerHTML = "<font color = \"#5ea9ff\">or</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] | [rs2]";
            }else if(com == "sll"){
                b.innerHTML = "<font color = \"#5ea9ff\">sll</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] << [rs2]";
            }else if(com == "slt"){
                b.innerHTML = "<font color = \"#5ea9ff\">slt</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] < [rs2] ?";
            }else if(com == "sra"){
                b.innerHTML = "<font color = \"#5ea9ff\">sra</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] >>> [rs2]";
            }else if(com == "srl"){
                b.innerHTML = "<font color = \"#5ea9ff\">srl</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] >> [rs2]";
            }else if(com == "sub"){
                b.innerHTML = "<font color = \"#5ea9ff\">sub</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] - [rs2]";
            }else if(com == "xor"){
                b.innerHTML = "<font color = \"#5ea9ff\">xor</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] ^ [rs2]";
            }else if(com == "mul"){
                b.innerHTML = "<font color = \"#5ea9ff\">mul</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] * [rs2]";
            }else if(com == "div"){
                b.innerHTML = "<font color = \"#5ea9ff\">div</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] / [rs2]";
            }else if(com == "rem"){
                b.innerHTML = "<font color = \"#5ea9ff\">rem</font> <font color = \"#abd2ff\">rd rs1 rs2</font> -> [rd] = [rs1] % [rs2]";
            }else if(com == "andi"){
                b.innerHTML = "<font color = \"#5ea9ff\">andi</font> <font color = \"#abd2ff\">rd rs1</font> <font color = \"#ffc15e\">imm</font> -> [rd] = [rs1] & imm";
            }else if(com == "ori"){
                b.innerHTML = "<font color = \"#5ea9ff\">ori</font> <font color = \"#abd2ff\">rd rs1</font> <font color = \"#ffc15e\">imm</font> -> [rd] = [rs1] | imm";
            }else if(com == "lb"){
                b.innerHTML = "<font color = \"#5ea9ff\">lb</font> <font color = \"#abd2ff\">rd rs1</font> <font color = \"#ffc15e\">imm</font> -> [rd] = [rs1 + imm]";
            }else if(com == "ld"){
                b.innerHTML = "<font color = \"#5ea9ff\">ld</font> <font color = \"#abd2ff\">rd rs1</font> <font color = \"#ffc15e\">imm</font> -> [rd] = [rs1 + imm :+ 8]";
            }else if(com == "lh"){
                b.innerHTML = "<font color = \"#5ea9ff\">lh</font> <font color = \"#abd2ff\">rd rs1</font> <font color = \"#ffc15e\">imm</font> -> [rd] = [rs1 + imm :+ 2]";
            }else if(com == "lw"){
                b.innerHTML = "<font color = \"#5ea9ff\">lw</font> <font color = \"#abd2ff\">rd rs1</font> <font color = \"#ffc15e\">imm</font> -> [rd] = [rs1 + imm :+ 4]";
            }else if(com == "jalr"){
                b.innerHTML = "<font color = \"#5ea9ff\">jalr</font> <font color = \"#abd2ff\">rd <font color = \"#ffc15e\">imm</font>(rs1)</font>  -> [rd] = [PC] + 4; [PC] += imm";
            }else if(com == "sb"){
                b.innerHTML = "<font color = \"#5ea9ff\">sb</font> <font color = \"#abd2ff\">rs2 <font color = \"#ffc15e\">imm</font>(rs1)</font>  -> M[rs1+imm](7:0) = [rs2]";
            }else if(com == "sh"){
                b.innerHTML = "<font color = \"#5ea9ff\">sh</font> <font color = \"#abd2ff\">rs2 <font color = \"#ffc15e\">imm</font>(rs1)</font>  -> M[rs1+imm](15:0) = [rs2]";
            }else if(com == "sw"){
                b.innerHTML = "<font color = \"#5ea9ff\">sw</font> <font color = \"#abd2ff\">rs2 <font color = \"#ffc15e\">imm</font>(rs1)</font>  -> M[rs1+imm](31:0) = [rs2]";
            }else if(com == "sd"){
                b.innerHTML = "<font color = \"#5ea9ff\">sd</font> <font color = \"#abd2ff\">rs2 <font color = \"#ffc15e\">imm</font>(rs1)</font>  -> M[rs1+imm](63:0) = [rs2]";
            }else if(com == "beq"){
                b.innerHTML = "<font color = \"#5ea9ff\">beq</font> <font color = \"#abd2ff\">rs1 rs2</font> <font color = \"#ffc15e\">imm</font> -> {if [rs1] == [rs2]} [PC] += imm";
            }else if(com == "bne"){
                b.innerHTML = "<font color = \"#5ea9ff\">bne</font> <font color = \"#abd2ff\">rs1 rs2</font> <font color = \"#ffc15e\">imm</font> -> {if [rs1] != [rs2]} [PC] += imm";
            }else if(com == "bge"){
                b.innerHTML = "<font color = \"#5ea9ff\">bge</font> <font color = \"#abd2ff\">rs1 rs2</font> <font color = \"#ffc15e\">imm</font> -> {if [rs1] >= [rs2]} [PC] += imm";
            }else if(com == "blt"){
                b.innerHTML = "<font color = \"#5ea9ff\">blt</font> <font color = \"#abd2ff\">rs1 rs2</font> <font color = \"#ffc15e\">imm</font> -> {if [rs1] < [rs2]} [PC] += imm";
            }else if(com == "auipc"){
                b.innerHTML = "<font color = \"#5ea9ff\">auipc</font> <font color = \"#abd2ff\">rd</font> <font color = \"#ffc15e\">imm</font> -> [rd] = [PC] + imm";
            }else if(com == "lui"){
                b.innerHTML = "<font color = \"#5ea9ff\">lui</font> <font color = \"#abd2ff\">rd</font> <font color = \"#ffc15e\">imm</font> -> [rd] = imm << 12";
            }else if(com == "jal"){
                b.innerHTML = "<font color = \"#5ea9ff\">jal</font> <font color = \"#abd2ff\">rd</font> <font color = \"#ffc15e\">imm</font> -> [rd] = [PC] + 4; [PC] = [PC] + imm";
            }else{
                b.innerHTML = "";
            }
        }


        function insertTab(o, e)
        {		
            var kC = e.keyCode ? e.keyCode : e.charCode ? e.charCode : e.which;
            if (kC == 9 && !e.shiftKey && !e.ctrlKey && !e.altKey)
            {
                var oS = o.scrollTop;
                if (o.setSelectionRange)
                {
                    var sS = o.selectionStart;	
                    var sE = o.selectionEnd;
                    o.value = o.value.substring(0, sS) + "\t" + o.value.substr(sE);
                    o.setSelectionRange(sS + 1, sS + 1);
                    o.focus();
                }
                else if (o.createTextRange)
                {
                    document.selection.createRange().text = "\t";
                    e.returnValue = false;
                }
                o.scrollTop = oS;
                if (e.preventDefault)
                {
                    e.preventDefault();
                }
                return false;
            }
            return true;
        }
    </script>
</body>